<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
<Properties>
<property name="LOG_DIR">logs</property>
<property name="ARCHIVE_LOG_DIR">${LOG_DIR}/archive</property>
<property name="pattern_file">%d{DATE} [%t] %-5level %logger{5} %M - %msg%n</property>
<property name="pattern_console">%d{DATE} [%t] %-5level %logger{5} %M - %msg%n</property>
</Properties>
 
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        
        <File name="File1" filename="${LOG_DIR}/text.log" bufferedIO="true">
        <PatternLayout pattern="${pattern_file}"/>
        </File>
        
        <RollingFile name="FileZip" fileName="${LOG_DIR}/text_arc.log" append="true" 
        filePattern="${ARCHIVE_LOG_DIR}/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log.zip">
        <PatternLayout pattern="${pattern_file}"/>
        <BurstFilter level="INFO" rate="16" maxBurst="100"/>
        <Policies>
        <SizeBasedTriggeringPolicy size="1 KB"/>
        </Policies>
        <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <RollingFile name="FileRolling" fileName="logs/text_roll.log" append="true" 
        filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">
        <PatternLayout pattern="${pattern_file}"/>
        <Policies>
        <SizeBasedTriggeringPolicy size="25 KB"/>
        </Policies>
        <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
    </Appenders>
 
    <Loggers>
    <Logger name="Log_Console" level="debug" additivity="false">
    <Appender-ref ref="Console"/>
    </Logger>
    <Logger name="Log_File" level="info" additivity="false">
    <Appender-ref ref="File1"/>
    </Logger>
    <Logger name="Zip_File" level="info" additivity="true">
    <Appender-ref ref="FileZip"/>
    </Logger>
    <Logger name="Rolling_File" level="info" additivity="false">
    <Appender-ref ref="FileRolling"/>
    </Logger>
    <Root level="all">
    <Appender-ref ref="Console" level="debug"/>
    <Appender-ref ref="File1" level="info"/>
        </Root>
    </Loggers>
 
</Configuration>