h1 {
background-color: #398752;
color: #fff;
border: 2px solid #000;
text-align: center;
opacity: 0.5;
}

th {
	color: #185423;
	background-color: #a0d9ab;
	text-align: center;
	font-size: 20px;
	border: 1px solid black;
}

td {
	text-align: center;
	}

body {
	background: #e1ede3;
}

.error {
	background-color: red;
color: white;
border: 2px solid #000;
text-align: center;
}

table{
	margin: auto;
	border: 1px solid black;
}

footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 5px;
    background: #59966c;
    color: #fff;
    width: 100%;
    height: 50px;
	margin-top: 80px;
}


.pagination{
	text-align: center;
	}

.maintext {
	word-wrap: break-word;
	height: 540px;
  width: 600px;
}

.rightimg{
	float: right;
    margin: 15px 0 15px 15px;
}

.mapimg{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 15px 15px 15px 15px;
}

.clientphoto{
	float: left;
	width: 110px;
	height: 160px;
	border: 1px solid black;
    margin: 15px 15px 15px 15px;
    object-fit: contain;
}

.trainerphoto{
	float: left;
	width: 110px;
	height: 160px;
    margin: 15px 15px 15px 15px;
    object-fit: contain;
}